@font-face {
    font-family: 'SFMono-Bold';
    src: url('fonts/SFMono-Bold.woff2') format('woff2'),
        url('fonts/SFMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

